<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>cat potato_log.txt</title>

        <link rel="stylesheet" href="./page.css"></link>
        <link rel="stylesheet" href="./atelier-forest-light.css"></link>
        <script type="text/javascript" src="./highlight.pack.js"></script>
        <script>
            hljs.highlightAll()            
        </script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>